{% extends 'base2.html' %}
{% block content %}
    
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-center p-4">
            <div class="col bg-primary p-4">Check In
                <div class="border-top my-2"></div>
                <div class="col mt-3 bg-light">
                    {% if error %}{{error}}
                    {% else %}ID: {{member_id}}
                    {% endif %}</div>
                <div class="col mt-3 bg-light"> Zone</div>
                <input class="btn btn-success mt-3" type="submit" value="Check In">
            </div>
            <div class="col mt-4 p-3 bg-danger">Check Out
                <div class="border-top my-2"></div>
                <div class="col mt-3 bg-light">
                    {% if error %}{{error}}
                    {% else %}ID: {{member_id}}
                    {% endif %}</div>
                <div class="col mt-3 bg-light">
                    {% if member %}Money left: {{member.money}} ฿
                    {% else %}Money
                    {% endif %}
                </div>
                <input class="btn btn-primary" style="margin-top:20px" type="submit" value="Check Out">
            </div>
        </div>


{% endblock content %}