.sbar {
    height: 80vh;
}

.toast {
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 2000;
}

thead {
    background: white;
    position: sticky;
    top: -5%;
}

* {
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}