{% extends 'base.html' %}
{% block sidebar %}
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 card text-center p-4 bg-success">Search
    <div class="border-top my-2"></div>
    <form class="row mt-3" action="{{request.path}}" method="GET">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <input class="form-control text-center" type="text" pattern="\d*" name="member_id" id="member_id" placeholder="Member ID"
                value="{% if member_id %}{{member_id}}{% endif %}"  required>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <input class="btn btn-primary" type="submit" value="Search">
        </div>
    </form>
    <div class="row">
        <label class="col form-control text-center mt-3">
            {% if member %}Balance: {{member.money}} ฿
            {% else %}Money
            {% endif %}
        </label>
    </div>
    <div class="row h-100">
        <label class="col form-control text-center mt-3 overflow-auto">
            {% if tuplog %}
                {% for log in tuplog %}
                <p>{{log.topup_date}} | {{log.amount}} | {{log.topup_by}}</p>
                {% endfor %}
            {% else %}log
            {% endif %}</label>
    </div>
</div>
{% endblock sidebar %}